.path {
    padding: 15px;
    font-size: 20px;
    font-weight: normal;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #272b33;
    box-sizing: border-box;
    color: #a6b2c0;
    :global {
        .red { color: #d06973; }
        .orange { color: #d2945a; }
        .white { color: #a6b2c0; }
        .bg { color: #272b33; }
        .green { color: #86c378; }
        .purp { color: #c679dd; }
        .red { color: #d06973; }
        .blue { color: #51b6c2; }
    }
}

