.time {
    position: absolute;
    top: 0;
    right: 0;

    input {
        background: none;
        box-shadow: none;
        padding: 0 5px;
        margin: 0;
        width: 400px;
        max-width: none;
    }
}

.stats {
    text-align: right;
    padding: 0 5px;
}