@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


html, body {
    font-family: 'Inconsolata', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #272b33;
    color: #a6b2c0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #272b33;
    letter-spacing: -1px;

    &:active,
    &:visited,
    &:hover,
    &:link {
        color: #272b33;
        text-decoration: none;
    }
}

button, select, input {
    color: #F8F8F8;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: rgb(0, 0, 0) 0px 2px 10px -6px;
    // cursor: pointer;
    display: inline-block;
    background-color: rgb(76, 142, 250);
    margin: 5px;
    -moz-appearance:none;
}

input {
    max-width: 40px;
    text-align: center;
}

h1 {
    margin: 10px 0px;
    font-size: 32px;
    position: absolute;
    top: -5px;
    left: 5px;
}

h2 {
    margin: 0px 0px 10px 0px;
    display: inline-block;
    margin-right: 10px;
}

::selection {
    background-color: #3d4350;
    color: #a6b2c0;
}
::-moz-selection {
    background-color: #3d4350;
    color: #a6b2c0;
}